body {
    padding-top: 40px;
}
 
.form-signup, .form-signin {
    width: 400px;
    margin: 0 auto;
}

.img-message{
	width:100px;
	height:100px;
	float:right;
}

.img-comment{
	width:80px;
	height:80px;
	float:right;
}

.img-approval{
	width:20px;
	height:20px;
	
}


.message-wrapper{
	border:2px solid #a1a1a1;
	margin-bottom:10px;
}

.message-wrapper-leader{
	border:3px solid red;
	margin-bottom:10px;
}

.message-header{
	color:grey;
}

.message-text{
	padding-bottom:3px;
	padding-top:5px;
}

.comment-username{
	padding-right:10px;
}

.side-menu{
	background-color:#F8F8F8;
	
}

.side-menu-item{
	
	border: 1px solid;
	border-color : #a1a1a1;
	background-color:#F8F8F8;
}

.addcommentdiv{
	padding-bottom : 10px;
}